@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Poiret+One");
/* ---------General styles here--------- */

body {
  font-family: "Poiret One", cursive;
  color: rgb(92, 87, 77);
  font-size: 1em;
  box-sizing: border-box;
  background: white;
  width: 687px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3em;
}

h2 {
  font-size: 1.9em;
  margin-top: 0;
}

h3 {
  font-size: 0.8em;
}

section {
  background: rgb(246, 246, 247);
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background: rgb(246, 246, 247);
}

.col-1 {
  width: 33%;
  margin: 0 auto;
}

.aside {
  width: 40%;
  margin: 0 auto;
}

.col-2 {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

.roomsection .col-2 {
  overflow: hidden;
}

.col-3 {
  widows: 100%;
}

.col-4 {
  width: 40%;
  background: white;
  margin: 0 auto 30px;
}

.row,
.roomsection,
.intouch,
.location {
  display: flex;
  margin: 0 auto;
}

i {
  transform: scale(2);
}

.box {
  border: 2px rgb(83, 78, 67) solid;
  border-radius: 20px;
}

/* ---------header section----------- */

#checkin,
#checkout {
  height: 10%;
  width: 30%;
  margin: 8% 0 8% 10%;
  border: solid 1px rgb(83, 78, 67);
  border-radius: 0;
  font-size: 0.8em;
}

#visitor {
  width: 30px;
  margin: 8% 0 0 33%;
  border: solid 1px rgb(83, 78, 67);
  border-radius: 0;
}

#button {
  border: solid 1px rgb(83, 78, 67);
  padding: 4% 17%;
}

.top .visitordiv {
  position: relative;
  width: 48%;
  top: -18%;
  left: 50%;
  background-color: white;
  z-index: 3;
  border: 1px rgb(83, 78, 67) solid;
  border-radius: 20px;
  transform: 0 200px;
  text-align: center;
}

.top {
  background-image: url("../images/balif.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

.header1 {
  position: relative;
  width: 40%;
  overflow-wrap: break-word;
  top: 200px;
  left: 3%;
}

h1 {
  font-size: 3em;
}

.navbar {
  position: relative;
  top: 20px;
  text-align: right;
  padding: 1% 0;
}

.navbar .box {
  border-radius: 5px;
}

.navigation a {
  padding: 0 3%;
  text-decoration: none;
  color: rgb(92, 87, 77);
}

.bookroom {
  background-color: rgba(92, 87, 77, 0.5);
  color: white;
}

.navigation .bookroom {
  padding: 0% 2% 1%;
  color: white;
}

.navigation .menu-icon {
  visibility: hidden;
}

/* ---------Services section----------- */

.servicesection .rowservice div {
  padding-bottom: 100px;
}

.rowservice,
.rowstandard {
  display: flex;
  flex-wrap: wrap;
}

.servicesection,
.guestsections {
  text-align: center;
}

.servicesection h2 {
  margin: 70px;
}

i {
  padding-bottom: 20px;
}

.col-1 {
  text-transform: lowercase;
}

/* ---------Guest & Room section----------- */

.guestsections h2 {
  margin: 70px;
}

.roompadding {
  padding: 0 20px 0;
}

.roomsection .col-2 img {
  position: relative;
  left: -35%;
  transform: scale(3);
}

.guestsections figure {
  margin: 10px auto 10px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  size: 100px;
}

.roomsection .box {
  padding: 0;
  text-align: center;
  width: 80%;
  padding: 8px 0;
}

.guestsections i {
  margin: 12px 10px 0;
}

.guestsections figure {
  height: 155px;
  width: 160px;
}

.amina {
  position: relative;
  top: -80px;
}

figure.boy {
  height: 155px;
  width: 180px;
}

figure.boy img {
  transform: scale(1.4);
}

.roombox {
  padding: 2%;
  text-align: center;
  border: 2px rgb(83, 78, 67) solid;
  border-radius: 5px;
}

.roombox a {
  text-decoration: none;
  color: rgb(92, 87, 77);
}

/* ------------this is footer -----------*/

footer {
  background: rgb(83, 78, 67);
  display: flex;
}

.col-5 {
  width: 50%;
  margin: 0 auto;
}

.icon {
  position: relative;
  text-align: right;
  top: 55px;
  z-index: 3;
}

.icon i {
  padding: 0 5%;
  z-index: 3;
  color: white;
}

.intouch {
  color: white;
  text-align: center;
}

input {
  border-radius: 6px;
  margin: 0 0 10px 10px;
}

/* input[type="button"] {
    color: white;
    background: rgb(83, 78, 67);
    border: 1px solid white;
    width: input-with
} */

.input {
  width: 160px;
  height: 26px;
  border: 1px solid rgb(92, 87, 77);
  border-radius: 5px;
  padding-left: 2%;
}

.button {
  width: 160px;
  height: 26px;
  background-color: rgb(83, 78, 67);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

/* --------- Media query for Tblet  --------- */

@media only screen and (max-width: 768px) {
  body {
    width: 90%;
  }
  .wrapper {
    width: 100%;
  }
  .top h1 {
    font-size: 2.5em;
    position: relative;
    top: 20px;
  }
  .top .visitordiv {
    position: relative;
    top: -22px;
    text-align: center;
  }
  .servicesection h2 {
    margin-top: 0;
  }
  .navbar a {
    visibility: hidden;
  }
  .navbar a.menu-icon {
    position: relative;
    top: 10px;
    visibility: visible;
    text-decoration: none;
    color: rgb(92, 87, 77);
    font-size: 3em;
  }
  .aside h2 {
    font-size: 1.6em;
  }
  .aside p {
    font-size: 0.9em;
  }
  .col-4 {
    width: 48%;
  }
  .navbar {
    position: relative;
    top: -20px;
  }
}

/* --------- Media query for mobile  --------- */

@media only screen and (max-width: 667px) {
  body {
    width: 90%;
  }
  .wrapper {
    width: 100%;
  }
  .top h1 {
    font-size: 2.1em;
    position: relative;
    top: -260px;
    left: 30px;
  }
  .header1 {
    position: relative;
    width: 70%;
  }
  .top .visitordiv {
    position: relative;
    top: -80px;
    text-align: center;
    width: 90%;
    left: 15px;
  }
  .servicesection h2 {
    width: 90%;
    font-size: 2em;
    margin: 0 auto 70px;
  }
  .navbar a {
    visibility: hidden;
  }
  .navbar a.menu-icon {
    visibility: visible;
    text-decoration: none;
    color: rgb(92, 87, 77);
    font-size: 3em;
  }
  .col-1 {
    width: 50%;
  }
  .rowstandard div.col-1 {
    width: 80%;
    margin-bottom: 6%;
  }
  .aside,
  .col-2,
  .col-5 {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  .col-4 {
    width: 90%;
  }
  .roomsection .col-2 img {
    position: relative;
    left: 0;
    transform: scale(2);
  }
  .roomsection,
  .rowstandard,
  .row,
  footer {
    display: flex;
    flex-direction: column;
  }
  .roomsection.junior {
    display: flex;
    flex-direction: column-reverse;
  }
  .icon {
    position: relative;
    top: 0;
  }
  .intouch {
    display: block;
  }
  .guestsections h2 {
    font-size: 1.6em;
    margin: 0 auto 50px;
    width: 80%;
    text-align: center;
  }
  .button {
    position: relative;
    left: -2px;
    width: 48%;
  }
  .top {
    background-image: url("../images/balif.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
  }
  .toproom div.header1 h1 {
    width: 167%;
  }
  .master figure img {
    width: 85%;
    margin: 0 auto;
  }
  .intouch.col-5 {
    margin-bottom: 2%;
  }
  .roomsection.junior .aside {
    margin: 0;
  }
  .roomsection.junior .col-2 {
    margin-top: 0;
    top: -3px;
  }
  .roomsection.master .col-5 {
    margin: 3% 0 0 0;
  }
  .standardroom .paint figure img {
    position: relative;
    top: -140px;
  }
  .roomsection.master p,
  .roomsection.junior p,
  .standardroom div p {
    text-align: left;
    padding: 0 2%;
  }
}

/* ----------- ROOOOOM ----------------- */

.toproom,
.getintouch {
  display: flex;
  background: white;
}

.toproom.navbar {
  position: relative;
  margin: 0 auto 0 0;
  top: 300px;
}

.toproom div.header1 {
  position: relative;
  left: 0;
  top: 0;
  font-size: 0.3em;
  margin: 0;
  width: 10%;
  margin: 0 auto 0 0;
}

.featured {
  margin: 30px 0;
  font-size: 1.2em;
  text-align: center;
}

.master {
  background: white;
}

.junior main,
.master aside {
  background: white;
  margin: 10% 0 0 0;
  padding: 8%;
  font-size: 0.9em;
}

.master figure,
.junior figure {
  margin: 0;
}

.junior main {
  position: relative;
  top: -25px;
}

.standardroom {
  padding: 10% 0;
  text-align: center;
}

.standardroom .col-1 {
  width: 30%;
  background: white;
  font-size: 1em;
}

.standardroom .col-1 h3 {
  font-size: 1em;
}

.standardroom figure {
  overflow: hidden;
  height: 138px;
  margin: 0;
}

.standardroom .paint img {
  position: relative;
  top: -105px;
}

.booknow {
  text-align: center;
  margin: 6% auto 0;
  border-radius: 7px;
  padding: 1.5% 9%;
  border: 2px solid rgb(92, 87, 77);
}

.booknow a {
  color: rgb(92, 87, 77);
  text-decoration: none;
}

.master .booknow,
.junior .booknow {
  text-align: center;
  margin: 15% auto;
  border-radius: 7px;
  padding: 5% 7%;
  border: 2px solid rgb(92, 87, 77);
  width: 80%;
}

.booknow a {
  color: rgb(92, 87, 77);
  text-decoration: none;
}

/* ------------------contact page here---------------------- */

.contactus {
  background-image: url("../images/francesca-saraco-65449-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 460px;
  width: 100%;
}

.contactus div {
  width: fit-content;
  position: relative;
  margin: 0px auto;
  top: 10%;
  background: rgba(256, 256, 256, 0.75);
  padding: 2% 3%;
}

.contactus div h1 {
  margin: 0;
}

.location {
  margin: 8% 0;
}

.map {
  width: 70%;
  overflow: hidden;
}

.getintouch .col-4 {
  margin: 0;
}

.map iframe {
  margin: 0 3%;
  width: 100%;
}

.contactdetail {
  width: 30%;
}

.contactdetail {
  padding: 0 1%;
  display: flex;
  flex-wrap: wrap;
}

.pin,
.call,
.mail {
  display: flex;
  width: 100%;
}

.getintouch .col-4 figure {
  position: relative;
  margin: 0;
  top: 2%;
}

.footcontact {
  margin-top: 0.7%;
}

.loicon i {
  transform: scale(2);
}

.loicon {
  position: relative;
  top: 10%;
  padding: 0 3%;
  width: 25%;
  margin: 0 auto;
}

.pin .loicon {
  top: 18%;
}

.lotext {
  width: 82%;
  margin: 0 auto;
}

.lotext a {
  text-decoration: none;
  color: rgb(92, 87, 77);
}

.getintouch .msg.col-2 {
  text-align: center;
}

.getintouch .msg.col-2 input {
  text-align: left;
  border: 2px solid rgb(92, 87, 77);
  width: 45%;
  margin: 0 0 3% 0;
  padding: 1.5% 0 2% 2%;
}
.getintouch .msg.col-2 textarea {
  text-align: left;
  border: 2px solid rgb(92, 87, 77);
  width: 45%;
  margin: 0 0 3% 0;
  padding: 1.5% 0 2% 2%;
  border-radius: 5px;
}

.getintouch .msg.col-2 .sendbutton {
  text-align: center;
  border: 2px solid rgb(92, 87, 77);
  width: 45%;
  margin: 0 0 3% 0;
  padding: 1.5% 0 2% 2%;
  background: rgb(92, 87, 77);
  color: white;
}

.intouchheader {
  width: 25%;
  margin: 8% auto 8%;
  font-size: 0.8em;
  word-spacing: 0.7em;
}
